@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: sans-serif;
   background-color: black;
   /* color: #354358; */
}

/* //TODO put this in document */
/* body {
   background-color: black;
} */